In [1]:
!cat examples/ex1.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [7]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!cat examples/ex2.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [6]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
names=['a','b','c','d','message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
parsed=pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
result=pd.read_table('examples/ex3.txt', sep='\s+')

In [20]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
!cat examples/ex4.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [22]:
pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
result=pd.read_csv('examples/ex5.csv')

In [24]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [36]:
result=pd.read_csv('examples/ex5.csv', na_values=4)

In [37]:
result

  something  a   b     c     d message
0       one  1   2   3.0   NaN     NaN
1       two  5   6   NaN   8.0   world
2     three  9  10  11.0  12.0     foo

In [28]:
sentinels={'message':['foo','NA'], 'something':['two']}

In [29]:
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [38]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [53]:
chunker=pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [54]:
tot=pd.Series([])
for piece in chunker:
    print(piece)
    tot=tot.add(piece['key'].value_counts(), fill_value=0)
    
tot=tot.sort_values(ascending=False)

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]
           one       two     three      four key
1000  0.467976 -0.038649 -0.295344 -1.824726   T
1001 -0.358893  1.404453  0.704965 -0.200638   J
1002 -0.501840  0.659254 -0.421691 -0.057688   R
1003  0.204886  1.074134  1.388361 -0.982404   S
1004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
1995  2.311896 -0.417070 -1.409599 -0.515821   L
1996 -0.479893 -0.650419  0.745152 -0.646038   J
1997  0.523331  0.787112  0.486066  1.093156   V
1998 -0.362559  0.598894 -1.843201  0.887292   W
1999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]
           one       two     three      four key
2000  0.467976 -0.038649 -0.295344 -1.824726   1
2001 -0.358893  1.404453  0.704965 -0.200638   H
2002 -0.501840  0.659254 -0.421691 -0.057688   F
2003  0.204886  1.074134  1.388361 -0.982404   L
2004  0.354628 -0.133116  0.283763 -0.837063   E
...        ...       ...       ...       ...  ..
2995  2.311896 -0.417070 -1.409599 -0.515821   H
2996 -0.479893 -0.650419  0.745152 -0.646038   U
2997  0.523331  0.787112  0.486066  1.093156   A
2998 -0.362559  0.598894 -1.843201  0.887292   Y
2999 -0.096376 -1.012999 -0.657431 -0.573315   F

[1000 rows x 5 columns]
           one       two     three      four key
3000  0.467976 -0.038649 -0.295344 -1.824726   H
3001 -0.358893  1.404453  0.704965 -0.200638   Y
3002 -0.501840  0.659254 -0.421691 -0.057688   0
3003  0.204886  1.074134  1.388361 -0.982404   Z
3004  0.354628 -0.133116  0.283763 -0.837063   U
...        ...       ...       ...       ...  ..
3995  2.311896 -0.417070 -1.409599 -0.515821   W
3996 -0.479893 -0.650419  0.745152 -0.646038   E
3997  0.523331  0.787112  0.486066  1.093156   Q
3998 -0.362559  0.598894 -1.843201  0.887292   A
3999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
4000  0.467976 -0.038649 -0.295344 -1.824726   H
4001 -0.358893  1.404453  0.704965 -0.200638   Z
4002 -0.501840  0.659254 -0.421691 -0.057688   2
4003  0.204886  1.074134  1.388361 -0.982404   B
4004  0.354628 -0.133116  0.283763 -0.837063   1
...        ...       ...       ...       ...  ..
4995  2.311896 -0.417070 -1.409599 -0.515821   X
4996 -0.479893 -0.650419  0.745152 -0.646038   M
4997  0.523331  0.787112  0.486066  1.093156   5
4998 -0.362559  0.598894 -1.843201  0.887292   T
4999 -0.096376 -1.012999 -0.657431 -0.573315   U

[1000 rows x 5 columns]
           one       two     three      four key
5000  0.467976 -0.038649 -0.295344 -1.824726   1
5001 -0.358893  1.404453  0.704965 -0.200638   Z
5002 -0.501840  0.659254 -0.421691 -0.057688   3
5003  0.204886  1.074134  1.388361 -0.982404   H
5004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
5995  2.311896 -0.417070 -1.409599 -0.515821   1
5996 -0.479893 -0.650419  0.745152 -0.646038   Y
5997  0.523331  0.787112  0.486066  1.093156   F
5998 -0.362559  0.598894 -1.843201  0.887292   0
5999 -0.096376 -1.012999 -0.657431 -0.573315   3

[1000 rows x 5 columns]
           one       two     three      four key
6000  0.467976 -0.038649 -0.295344 -1.824726   I
6001 -0.358893  1.404453  0.704965 -0.200638   X
6002 -0.501840  0.659254 -0.421691 -0.057688   A
6003  0.204886  1.074134  1.388361 -0.982404   C
6004  0.354628 -0.133116  0.283763 -0.837063   S
...        ...       ...       ...       ...  ..
6995  2.311896 -0.417070 -1.409599 -0.515821   P
6996 -0.479893 -0.650419  0.745152 -0.646038   9
6997  0.523331  0.787112  0.486066  1.093156   L
6998 -0.362559  0.598894 -1.843201  0.887292   5
6999 -0.096376 -1.012999 -0.657431 -0.573315   O

[1000 rows x 5 columns]
           one       two     three      four key
7000  0.467976 -0.038649 -0.295344 -1.824726   1
7001 -0.358893  1.404453  0.704965 -0.200638   I
7002 -0.501840  0.659254 -0.421691 -0.057688   H
7003  0.204886  1.074134  1.388361 -0.982404   P
7004  0.354628 -0.133116  0.283763 -0.837063   D
...        ...       ...       ...       ...  ..
7995  2.311896 -0.417070 -1.409599 -0.515821   A
7996 -0.479893 -0.650419  0.745152 -0.646038   6
7997  0.523331  0.787112  0.486066  1.093156   R
7998 -0.362559  0.598894 -1.843201  0.887292   R
7999 -0.096376 -1.012999 -0.657431 -0.573315   2

[1000 rows x 5 columns]
           one       two     three      four key
8000  0.467976 -0.038649 -0.295344 -1.824726   7
8001 -0.358893  1.404453  0.704965 -0.200638   W
8002 -0.501840  0.659254 -0.421691 -0.057688   C
8003  0.204886  1.074134  1.388361 -0.982404   S
8004  0.354628 -0.133116  0.283763 -0.837063   H
...        ...       ...       ...       ...  ..
8995  2.311896 -0.417070 -1.409599 -0.515821   W
8996 -0.479893 -0.650419  0.745152 -0.646038   N
8997  0.523331  0.787112  0.486066  1.093156   Q
8998 -0.362559  0.598894 -1.843201  0.887292   R
8999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
9000  0.467976 -0.038649 -0.295344 -1.824726   B
9001 -0.358893  1.404453  0.704965 -0.200638   M
9002 -0.501840  0.659254 -0.421691 -0.057688   N
9003  0.204886  1.074134  1.388361 -0.982404   N
9004  0.354628 -0.133116  0.283763 -0.837063   Y
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[1000 rows x 5 columns]

In [55]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

In [56]:
data=pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [57]:
data.to_csv('examples/out.csv')

In [58]:
!cat examples/out.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [59]:
import sys

data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [60]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [62]:
data.to_csv(sys.stdout,index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [64]:
data.to_csv(sys.stdout,index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [72]:
import csv
f=open('examples/ex7.csv')
reader=csv.reader(f)

In [73]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [74]:
lines=list(csv.reader(open('examples/ex7.csv')))
header, values=lines[0], lines[1:]
data_dict={h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [75]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter=';'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL
    
reader=csv.reader(f, dialect=my_dialect)

In [76]:
with open('examples/mydata.csv', 'w') as f:
    writer=csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7', '8', '9'))

In [1]:
obj="""
{"name": "Wes",
 "places_lived":["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name":"Scott", "age":25, "pet":"Zuko"},
 {"name":"Katie", "age":33, "pet":"Cisco"}]
}
"""

In [2]:
import json

In [3]:
result=json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [4]:
asjson=json.dumps(result)

In [5]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [8]:
siblings=pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [10]:
import requests
from lxml.html import parse
from io import StringIO

In [11]:
text=requests.get('http://finance.yahoo.com/q/op?s=AAPL+Options').text
parsed=parse(StringIO(text))
doc=parsed.getroot()

In [14]:
doc

In [15]:
links=doc.findall('.//a')
links[15:20]

[<Element a at 0x21055f55188>,
 <Element a at 0x21055f551d8>,
 <Element a at 0x21055f55138>,
 <Element a at 0x21055f55098>,
 <Element a at 0x21055f55818>]

In [16]:
lnk=links[27]
lnk

In [17]:
lnk.get('href')

'/quote/AAPL/options?strike=225&straddle=false'

In [18]:
lnk.text_content()

'225.00'

In [19]:
urls=[lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/watchlists',
 '/portfolios',
 '/screener',
 '/premium?ncid=navbarprem_fqbo1nu0ks0',
 '/calendar',
 '/industries',
 'https://money.yahoo.com',
 '/videos/',
 '/news/',
 '/tech']

In [22]:
tables=doc.findall('.//table')
calls=tables[1]
puts=tables[1]

In [23]:
calls

In [24]:
puts

In [26]:
rows=calls.findall('.//tr')

In [27]:
rows

[<Element tr at 0x21055f75368>,
 <Element tr at 0x21055f750e8>,
 <Element tr at 0x21055f75048>,
 <Element tr at 0x21055bea778>,
 <Element tr at 0x210551d0868>,
 <Element tr at 0x21055f83b88>,
 <Element tr at 0x21055f835e8>,
 <Element tr at 0x21055f83638>,
 <Element tr at 0x21055f83458>,
 <Element tr at 0x21055f83908>,
 <Element tr at 0x21055f83408>,
 <Element tr at 0x21055f838b8>,
 <Element tr at 0x21055f83868>,
 <Element tr at 0x21055f837c8>,
 <Element tr at 0x21055f83688>,
 <Element tr at 0x21055f83818>,
 <Element tr at 0x21055f833b8>,
 <Element tr at 0x21055f83778>,
 <Element tr at 0x21055f83728>,
 <Element tr at 0x21055f83368>,
 <Element tr at 0x21055f836d8>,
 <Element tr at 0x21055f83958>,
 <Element tr at 0x21055f834a8>,
 <Element tr at 0x21055f83318>,
 <Element tr at 0x21055f832c8>,
 <Element tr at 0x21055f83598>,
 <Element tr at 0x21055fbe228>,
 <Element tr at 0x21055fbe098>,
 <Element tr at 0x21055fbe138>,
 <Element tr at 0x21055fbe188>,
 <Element tr at 0x21055fbe278>,
 <Element tr at 0x21055fbe2c8>,
 <Element tr at 0x21055fbe048>,
 <Element tr at 0x21055fbe368>,
 <Element tr at 0x21055fbe318>,
 <Element tr at 0x21055fbe3b8>,
 <Element tr at 0x21055fbe408>,
 <Element tr at 0x21055fbe458>,
 <Element tr at 0x21055fbe4a8>,
 <Element tr at 0x21055fbe4f8>,
 <Element tr at 0x21055fbe548>,
 <Element tr at 0x21055fbe598>,
 <Element tr at 0x21055fbe5e8>,
 <Element tr at 0x21055fbe638>,
 <Element tr at 0x21055fbe688>,
 <Element tr at 0x21055fbe6d8>,
 <Element tr at 0x21055fbe728>,
 <Element tr at 0x21055fbe778>,
 <Element tr at 0x21055fbe7c8>,
 <Element tr at 0x21055fbe818>,
 <Element tr at 0x21055fbe868>,
 <Element tr at 0x21055fbe8b8>,
 <Element tr at 0x21055fbe908>,
 <Element tr at 0x21055fbe958>,
 <Element tr at 0x21055fbe9a8>,
 <Element tr at 0x21055fbe9f8>,
 <Element tr at 0x21055fbea48>,
 <Element tr at 0x21055fbea98>,
 <Element tr at 0x21055fbeae8>,
 <Element tr at 0x21055fbeb38>,
 <Element tr at 0x21055fbeb88>,
 <Element tr at 0x21055fbebd8>,
 <Element tr at 0x21055fbec28>,
 <Element tr at 0x21055fbec78>,
 <Element tr at 0x21055fbecc8>,
 <Element tr at 0x21055fbed18>,
 <Element tr at 0x21055fbed68>,
 <Element tr at 0x21055fbedb8>,
 <Element tr at 0x21055fbee08>,
 <Element tr at 0x21055fbee58>,
 <Element tr at 0x21055fbeea8>,
 <Element tr at 0x21055fbeef8>,
 <Element tr at 0x21055fbef48>]

In [28]:
def _unpack(row, kind='td'):
    elts=row.findall('.//%s' % kind)
    return [val.text_content().strip().split('\n')[0] for val in elts]

In [29]:
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [30]:
_unpack(rows[2],kind='td')

['AAPL200131P00195000',
 '2020-01-28 3:50PM EST',
 '195.00',
 '0.01',
 '0.00',
 '0.04',
 '0.00',
 '-',
 '1',
 '9',
 '325.00%']

In [31]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows=table.findall('.//tr')
    header=_unpack(rows[0], kind='th')
    data=[_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [33]:
call_data=parse_options_data(calls)
put_data=parse_options_data(puts)
call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL200131P00190000,2020-01-29 2:24PM EST,190.0,0.01,0.00,0.02,0.0,-,2,184,325.00%
1,AAPL200131P00195000,2020-01-28 3:50PM EST,195.0,0.01,0.00,0.04,0.0,-,1,9,325.00%
2,AAPL200131P00200000,2020-01-28 1:00PM EST,200.0,0.01,0.00,0.04,0.0,-,5,0,310.94%
3,AAPL200131P00205000,2019-12-16 3:08PM EST,205.0,0.18,0.00,0.03,0.0,-,-,0,287.50%
4,AAPL200131P00210000,2020-01-28 3:57PM EST,210.0,0.01,0.00,0.04,0.0,-,1,29,281.25%
5,AAPL200131P00215000,2020-01-28 3:32PM EST,215.0,0.01,0.00,0.04,0.0,-,25,0,267.19%
6,AAPL200131P00220000,2020-01-29 11:22AM EST,220.0,0.01,0.00,0.01,0.0,-,1,343,225.00%
7,AAPL200131P00225000,2020-01-28 12:40PM EST,225.0,0.01,0.00,0.04,0.0,-,20,328,239.06%
8,AAPL200131P00227500,2020-01-27 12:05PM EST,227.5,0.01,0.00,0.04,0.0,-,30,269,231.25%
9,AAPL200131P00230000,2020-01-28 3:49PM EST,230.0,0.01,0.00,0.02,0.0,-,11,306,212.50%

In [34]:
import requests
url='https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp=requests.get(url)
resp

In [35]:
data=resp.json()
data[:5]

[{'id': 76811,
  'node_id': 'MDU6TGFiZWw3NjgxMQ==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
  'name': 'Bug',
  'color': 'e10c02',
  'default': False,
  'description': None},
 {'id': 76812,
  'node_id': 'MDU6TGFiZWw3NjgxMg==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
  'name': 'Enhancement',
  'color': '4E9A06',
  'default': False,
  'description': None},
 {'id': 127681,
  'node_id': 'MDU6TGFiZWwxMjc2ODE=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor',
  'name': 'Refactor',
  'color': 'FCE94F',
  'default': False,
  'description': None},
 {'id': 129350,
  'node_id': 'MDU6TGFiZWwxMjkzNTA=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build',
  'name': 'Build',
  'color': '75507B',
  'default': False,
  'description': None},
 {'id': 134699,
  'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
  'name': 'Docs',
  'color': '3465A4',
  'default': False,
  'description': None}]

In [36]:
issue_labels=pd.DataFrame(data)

In [38]:
issue_labels

,id,node_id,url,name,color,default,description
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
2,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False,None
3,129350,MDU6TGFiZWwxMjkzNTA=,https://api.github.com/repos/pandas-dev/pandas...,Build,75507B,False,None
4,134699,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...,Docs,3465A4,False,None
5,211840,MDU6TGFiZWwyMTE4NDA=,https://api.github.com/repos/pandas-dev/pandas...,Timeseries,AFEEEE,False,None
6,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False,None
7,2301354,MDU6TGFiZWwyMzAxMzU0,https://api.github.com/repos/pandas-dev/pandas...,IO Data,06909A,False,IO issues that don't fit into a more specific ...
8,2413328,MDU6TGFiZWwyNDEzMzI4,https://api.github.com/repos/pandas-dev/pandas...,Visualization,8AE234,False,None
9,2822098,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...,Indexing,0b02e1,False,"Related to indexing on series/frames, not to i..."
10,2822342,MDU6TGFiZWwyODIyMzQy,https://api.github.com/repos/pandas-dev/pandas...,Missing-data,d7e102,False,None
11,8935311,MDU6TGFiZWw4OTM1MzEx,https://api.github.com/repos/pandas-dev/pandas...,Performance,a10c02,False,None
12,13098779,MDU6TGFiZWwxMzA5ODc3OQ==,https://api.github.com/repos/pandas-dev/pandas...,Reshaping,02d7e1,False,None
13,31404521,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...,Dtypes,e102d8,False,None
14,32933285,MDU6TGFiZWwzMjkzMzI4NQ==,https://api.github.com/repos/pandas-dev/pandas...,Admin,DDDDDD,False,None
15,35818298,MDU6TGFiZWwzNTgxODI5OA==,https://api.github.com/repos/pandas-dev/pandas...,API Design,AD7FA8,False,None
16,42670965,MDU6TGFiZWw0MjY3MDk2NQ==,https://api.github.com/repos/pandas-dev/pandas...,Error Reporting,ffa0ff,False,None
17,47223669,MDU6TGFiZWw0NzIyMzY2OQ==,https://api.github.com/repos/pandas-dev/pandas...,Numeric,006b75,False,"Arithmetic, Comparison, Logical, and Reduction..."
18,47229171,MDU6TGFiZWw0NzIyOTE3MQ==,https://api.github.com/repos/pandas-dev/pandas...,IO CSV,5319e7,False,None
19,47232590,MDU6TGFiZWw0NzIzMjU5MA==,https://api.github.com/repos/pandas-dev/pandas...,IO SQL,5319e7,False,None
20,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,None
21,49094459,MDU6TGFiZWw0OTA5NDQ1OQ==,https://api.github.com/repos/pandas-dev/pandas...,Internals,fbca04,False,None
22,49597148,MDU6TGFiZWw0OTU5NzE0OA==,https://api.github.com/repos/pandas-dev/pandas...,Timedelta,5319e7,False,None
23,53181044,MDU6TGFiZWw1MzE4MTA0NA==,https://api.github.com/repos/pandas-dev/pandas...,Frequency,0052cc,False,DateOffsets
24,57186974,MDU6TGFiZWw1NzE4Njk3NA==,https://api.github.com/repos/pandas-dev/pandas...,Windows,fbca04,False,Windows OS
25,57296398,MDU6TGFiZWw1NzI5NjM5OA==,https://api.github.com/repos/pandas-dev/pandas...,Algos,eb6420,False,None
26,60458168,MDU6TGFiZWw2MDQ1ODE2OA==,https://api.github.com/repos/pandas-dev/pandas...,Timezones,5319e7,False,None
27,60635328,MDU6TGFiZWw2MDYzNTMyOA==,https://api.github.com/repos/pandas-dev/pandas...,Period,eb6420,False,None
28,71268330,MDU6TGFiZWw3MTI2ODMzMA==,https://api.github.com/repos/pandas-dev/pandas...,MultiIndex,207de5,False,None
29,78527356,MDU6TGFiZWw3ODUyNzM1Ng==,https://api.github.com/repos/pandas-dev/pandas...,Categorical,e11d21,False,None